@{
    ViewData["Title"] = "About Us";
}

<div class="fade-in">
    <h1>@ViewData["Title"]</h1>

    <p>Welcome to PizzaShop, your ultimate destination for the most delightful and flavorful pizzas in town! Our commitment is to offer you an exceptional culinary journey, where each pizza is expertly crafted using the freshest ingredients available.</p>
    <p>Embark on a pizza adventure like no other and savor the taste of perfection today! We take immense pride in ensuring that every slice is a memorable experience, leaving you satisfied and craving for more.</p>
    <p>We highly value your feedback and are here to assist with any inquiries or feedback you may have. Our dedicated team is always ready to help. Feel free to reach out to us at +123-456-7890 or drop us an email at info@pizzashop.com.</p>
    <p>Come join us at PizzaShop and immerse yourself in a pizza paradise that will tantalize your taste buds and keep you coming back for another slice!</p>
</div>

<div class="fade-in" style="margin-top: 50px;">
    @Html.Partial("_MadeBy")
</div>