@{
    ViewData["Title"] = "Resource Missing";
}

<div class="fade-in">
    <h2>@ViewData["Title"]</h2>
    <p>The resource you were looking for is missing!</p>

    <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>