@{
    ViewData["Title"] = "About Us";
}

<div class="fade-in">
    <h1 class="bounce-in">@ViewData["Title"]</h1>

    <p>Welcome to BurgerShop, your go-to destination for the most mouthwatering and scrumptious burgers in town! Our mission is to provide you with an exceptional dining experience, where each burger is crafted with care, using only the finest ingredients.</p>
    <p>Indulge in the ultimate burger feast today and treat yourself to a culinary delight like no other! We take immense pride in ensuring that every bite is an unforgettable one, leaving you with a satisfied appetite and a heartwarming smile.</p>
    <p>We value your feedback and are here to address any questions or concerns you may have. Our dedicated team is ready to assist you in any way possible. Feel free to contact us at +123-766-6679 or drop us an email at info@burgershop.com.</p>
    <p>Come join us at BurgerShop and discover a burger paradise that will delight your taste buds and leave you craving for more!</p>
</div>

<div class="fade-in" style="margin-top: 50px;">
    @Html.Partial("_MadeBy")
</div>