@*@model BurgerOrderViewModel
@{
    ViewData["Title"] = "Add Burger";
}

<h2>Add Burger</h2>

<form asp-action="AddBurgerToCreate" method="post">
    <input type="hidden" asp-for="OrderId" />

    <div class="form-group">
        <label asp-for="BurgerId" class="custom-control-label"></label>:
        <select class="form-control" asp-for="BurgerId" asp-items="@(new SelectList(ViewBag.Burgers, "Id", "Name"))"></select>
    </div>

    <hr />
    <button class="btn btn-outline-success">Add Burger</button>
    <a asp-action="Create" asp-route-id="@Model.OrderId" class="btn btn-outline-danger">Cancel</a>
</form>*@