@model BurgerOrderViewModel
@{
    ViewData["Title"] = "Add Burger";
}

<div class="fade-in">
    <h2 class="bounce">Add Burger</h2>

    <form asp-action="AddBurgerToCreate" method="post">
        <div class="form-group">
            <label asp-for="BurgerId" class="custom-control-label"></label>
            <select class="form-control custom-input w-50" asp-for="BurgerId" asp-items="@(new SelectList(ViewBag.Burgers, "Id", "Name"))"></select>
        </div>

        <hr class="w-50" />
        <button class="btn btn-outline-success">Add Burger</button>
        <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
    </form>
</div>