@model PizzaOrderViewModel
@{
    ViewData["Title"] = "Remove Pizza";
}

<div class="fade-in">
    <h2 class="bounce">@ViewData["Title"]</h2>

    <form asp-action="DeletePizzaFromEdit" method="post">
        <input type="hidden" asp-for="OrderId" />

        <div class="form-group">
            <label>Select Pizza To Remove</label>
            <select asp-for="PizzaId" asp-items="@(new SelectList(ViewBag.Pizzas, "Id", "Name"))" class="form-control custom-input w-50">
                <option value="">-- Select Pizza --</option>
            </select>
        </div>

        <hr class="w-50" />
        <button class="btn btn-outline-danger" type="submit">Remove Pizza</button>
        <a asp-action="Edit" asp-route-id="@Model.OrderId" class="btn btn-outline-dark">Cancel</a>
    </form>
</div>