@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center slide-in-left">
    <h1 class="display-4">Welcome to our<br /><strong>Pizza Shop</strong></h1>

    <br />
    <h4>
        So far we have @Model.OrderCount order@((Model.OrderCount != 1) ? "s" : "")!
        @((Model.OrderCount > 1) ? "Amazing, let's keep it up! :)" : (Model.OrderCount == 1) ? "At least it's something! :|" : "Nothing? Aww! :(")
    </h4>

    <br />
    <h4>Today On Promotion: @Model.PizzasOnPromotion</h4>
</div>